<footer id='footer' class="flex flex-col min-h-screen">
  <div class="container">
    <div class="flex-grow py-9 text-center">
      <div class="copyright">
        <p>Copyright © 2024. TheatreTicketAlbum</p>
      </div>
    </div>
  </div>
</footer>
