<header>
  <nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex space-x-10">
          <%= link_to root_path, class: "text-[min(13vw,18px)] font-semibold text-gray-500 text-lg py-4 px-2" do %>
           Theatre Ticket Album
          <% end %>
          <div class="flex items-center space-x-1">
            <%= link_to "レビュー作成", new_review_path, class: "text-[min(13vw,16px)] py-4 px-2 text-gray-500 border-b-4 border-black-500" %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
