<header>
  <nav class='bg-white shadow-lg'>
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex space-x-20">
          <%= link_to root_path, class: 'font-semibold text-gray-500 text-lg py-4 px-2 ' do %>
           Theatre Ticket Album
          <% end %>
          <div class='hidden md:flex items-center space-x-1'>
            <%= link_to '掲示板作成', '#', class: 'py-4 px-2 text-gray-500 border-b-4 border-black-500' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>