<!-- Comment Form -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="mx-auto max-w-2xl">
    <div class="text-center">
      <h2 class="text-xl text-gray-500 font-bold sm:text-3xl">
        レビュー作成
      </h2>
    </div>
    <%= render 'form', { review: @review } %>
  </div>
</div>